<div style="height: 30px;background: #6e1d1d;text-align: right">
  <select style="height: 100%;width: 200px;margin-right: 100px" id="menu-select">
    <option></option>
    <option>homepage</option>
    <option>course registration</option>
    <option>message board</option>
    <option>reset password</option>
    <option>logout</option>
  </select>
</div>

<script>
  let menuSelect = $("#menu-select")
  menuSelect.change(
          async () => {
            let s = menuSelect.val();
            if (s === "logout") {
              if (window.confirm("Confirm logout?")) {
                window.location = "/logout"
              } else {
                menuSelect.val(0)
              }
            } else if (s === "homepage") {
              window.location = "/homepage"
            } else if (s === "course registration") {
              window.location = "/course-registration"
            } else if (s === "message board"){
              window.location = "/messageBoard"
            } else if (s === "reset password"){
              window.location = "/resetPass"
            }
            menuSelect.val(0)
          }
  )
</script>
