<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>reset password</title>
  <script src="js/jquery-3.4.1.min.js"></script>
  <script src="js/ejs.min.js"></script>
  <link href="css/table.css" type="text/css" rel="stylesheet" />
</head>
<body>

    <div id="top" style="height: 100px; background: #6e1d1d;text-align: center">
      <h2 style="color: white">reset password</h2>
    </div>
    <div id="menu"></div>


    <div  style="height: 100px;text-align: center" >
        <% if (info) { %>
        <p><%= info %></p>
        <% } %>
    </div>

    <form action="/getCaptcha" method="get" style="text-align: center">
      <button type="submit">get verification code</button>
    </form>
    <form action="/resetPass" method="post" style="text-align: center" >
      <label for="captcha">verification code:</label>
      <input type="text" id="captcha" name="captcha" required>
      <label for="password">new password:</label>
      <input type="password" id="password" name="password" required>
      <button type="submit">reset password</button>
    </form>

</body>
<script type="text/javascript">
  $(document).ready(
          $('#menu').load('menu.html')
  )
</script>
</html>
